body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
  
    
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  
  }
  p{
    text-align: left;
    text-decoration: dotted;
  }
  
  .login-container {
    background-color: #ffffff;
    padding: 20px 60px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px white;
    text-align: center;
    position:relative;
    width: 100%;
    max-width: 475px;
    margin: 5%;
    opacity: 90%;
    /* height: 100vh; */
    
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  .input-container {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 45%;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #333;
  }
  
  input {
    width: 99%;
    height:40px;
    
    color:#707070;
    /* margin-top: 8 px; */
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  
  form{
    width: 100%;
    height: 100%;
  }
  
  form .column{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
     height: 100%;
  }
  
  @media screen and (max-width: 500px) {
    .form .column{
      flex-wrap: wrap;
    }
    
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  
  
  
  
  
  
  /* Style the navbar */
  nav {
    background-color:blue;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0;
    padding: 0;
  }
  
  nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #555;
  }


  /* copright */

.footer-bottom {
  text-align: center;
  position: fixed;
  bottom:0;
  width: 35vw;
  display: flex;
  justify-content: center;
  
  
}